@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .place-self-center-start {
    place-self: center start;
  }

  .place-self-center-end {
    place-self: center end;
  }
}

@layer base {
  html, body {
    @apply min-h-screen overflow-x-hidden;
  }

  body {
    @apply
      bg-purple-900
      text-white

      light:bg-purple-200
      light:text-black

      font-['Nunito_Variable']
      font-normal

      text-base
      ;
    }

  pre {
    @apply tracking-tight overflow-x-scroll;
  }

  // Cannot style dynamic inner HTML directly, so must do it here
  code {
    @apply tracking-tight md:tracking-normal;

    // Remove backticks around inline code and whitespace after block code
    &:before, &:after {
      content: none !important;
    }

    :not(pre) > & {
      @apply shadow-md rounded-sm py-1 px-2;
    }
  }

  @media only screen and (orientation: landscape) {
    #content-container {
      // Account for bottom inset explicitly
      @supports(padding:max(0px)) {
        padding-bottom: env(safe-area-inset-bottom, 0vmin);
      }
    }
  }
}
