:root {
  @each $device in desktop, mobile {
    @for $i from 1 through 24 {
      --#{$device}-door-#{$i}-open-display: none;
      --#{$device}-door-#{$i}-solved-display: none;
      --#{$device}-door-#{$i}-easteregg-display: none;

      ##{$device}-door-#{$i}-open {
        display: var(--#{$device}-door-#{$i}-open-display);
      }

      ##{$device}-door-#{$i}-solved {
        display: var(--#{$device}-door-#{$i}-solved-display);
      }

      ##{$device}-door-#{$i}-easteregg {
        display: var(--#{$device}-door-#{$i}-easteregg-display);
      }
    }
  }
}
